@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background:#0c0e12;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow:visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Slick Dots */
.slick-dots {
  bottom: -60px !important;
}
.slick-dots li button:before {
color: white !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
     opacity: 1;
}


/* About */
.about-container {
  max-width: 992px;
  width: 100%;
}
.about-image-content {
width: 10rem;
}
.about-text-content {
  width: 80%;
}
.xpress-logo {
  width: 9rem;
}

/* Projects */

.project-image {
  width: 45%;
}

.project-text {
  width: 55%;
}
